<div class="app-container">
    <header>
        <nav>
            <div class="logo">
                <h1>Solar Area Calculator</h1>
            </div>
            <div class="navLinks">
                <a href="#" class="">Calculator</a>
                <a href="#" class="">About The Project</a>
                <a href="#" class="">Github</a>
            </div>
        </nav>
    </header>
    <main>
        {{outlet}}
    </main>
    <footer>
        test
    </footer>
</div>
