<div class="fluid-container d-flex fill flex-column px-3 bg-light">
    {{!-- <div>
        <p>
            Using this tool, you can calculate the output of a solar installation.<br>
            To use, enter the address of the house which you would like to plan, then select "Draw Solar Panel" to draw.<br>
            Upon completing the shape of the panel, you will receive your results.
        </p>
    </div> --}}
    <div class="row d-flex my-3 align-items-end">
        <div class="location-details col-sm">
            <span>&nbsp;Enter location:</span>
            {{place-autocomplete-field
                placeholder=address
                disabled=false
                handlerController=this
                placeChangedCallback='onPlaceChanged'
                withGeoLocate=true
                setValueWithProperty='formatted_address'
                preventSubmit=true
                inputClass='form-control'
            }}
            <span>&nbsp;Coordinates: ({{coords.lat}}, {{coords.lng}})</span>
        </div>
        <div class="col-sm d-flex align-items-end flex-column">
            <div class="mx-auto">{{#map-markup}}{{/map-markup}}</div>
            <div class="mx-auto">(Double-click to remove solar panel)</div>
        </div>
    </div>
    <div class="row fill">
        <div class="col-md-12" id="mapContainer">
            {{#g-map lat=coords.lat
                     lng=coords.lng
                     zoom=16
                     zoomControl=true
                     streetViewControl=false
                     onLoad=(action 'onMapLoad')
                     tilt=0
                     disableDoubleClickZoom=true
                     mapTypeId='satellite'
                     fullscreenControl=false
                     as |g|
            }}
                {{g.marker
                lat=coords.lat
                lng=coords.lng
                draggable=false
                }}
            {{/g-map}}
        </div>
    </div>
</div>